@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
@tailwind base;
@tailwind utilities;

html {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body,
#__next {
  height: inherit;
}

#__next {
  display: flex;
  flex-direction: column;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
