@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@tailwind base;
@tailwind utilities;

html {
  height: 100%;
  font-family: 'League Gothic', sans-serif;
}

body,
#__next {
  height: inherit;
}

#__next {
  display: flex;
  flex-direction: column;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
